<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card border-primary mb-3">
            <div class="card-header">{{title}} </div>

            <div class="card-block table-responsive">
                <div class="form-group input-group col-xl-4 col-lg-4 pull-right" >
                    <input type="text" class="form-control" [(ngModel)]="keyword" (keyup)="onSearch()" placeholder="请输入邮箱搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <table class="table table-hover  table-bordered table-dark table-sm ">
                    <thead class="bg-success">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>id</th>
                        <th>email</th>
                        <th>用户名</th>
                        <th>电话</th>
                        <th>开启关闭</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr *ngFor="let user of users">
                        <td><input type="checkbox"></td>
                        <td>{{user.id}}</td>
                        <td>{{user.user_email}}</td>
                        <td>{{user.user_name}}</td>
                        <td>{{user.user_tel}}</td>
                        <td [hidden]="isWhite || isBlack">
                            <div style="width:40px;">
                                <app-switch [checked]="user.is_open==1?true:false" [onLabel]="'开'"  [offLabel]="'关'" [theme]="theme2" (onChange)="change($event,user.id)"></app-switch>
                            </div>
                        </td>
                        <!--<td>-->
                            <!--<div style="width:40px;">-->
                                <!--&lt;!&ndash;<app-switch [checked]="map.is_forbid==1?true:false" [onLabel]="'黑'"  [offLabel]="'白'" [theme]="theme" (onChange)="changeIsForbid($event,map.id)"></app-switch>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</td>-->

                        <td>
                            <!--<button class="btn btn-sm btn-success">状态</button>-->
                            <!--<button class="btn btn-sm btn-success"><i class="fa fa-wrench" aria-hidden="true"></i> 修改</button>-->
                            <app-add-member-modal [header]="editheader" [btnText]="editBtnText"  (onSubmitData)="editMember($event,user.id)" [userId]="user.id" ></app-add-member-modal>
                            <!--<app-add-ip-modal [header]="editheader" [btnText]="editBtnText"  (onSubmitData)="editIpMap($event,map.id)" [ipMapId]="map.id" [isBlack]="isBlack" [isWhite]="isWhite" ></app-add-ip-modal>-->
                            <button class="btn btn-sm btn-success" (click)="deleteMember(user.id)"><i class="fa fa-minus"></i> 删除</button>
                            <!--<button type="button" class="btn btn-info" (click)="openInfo()">信息消息框</button>-->


                            <!--<button type="button" class="btn btn-danger" (click)="openError()">错误消息</button>-->
                        </td>
                    </tr>


                    </tbody>
                </table>



                <!--<app-add-ip-modal [header]="header" [btnText]="addBtnText" (onSubmitData)="addIpMap($event,isBlack)" [isBlack]="isBlack" [isWhite]="isWhite"></app-add-ip-modal>-->
            </div>
        </div>
    </div>
</div>
