<button class="btn btn-success btn-sm"  (click)="open(content)">详情</button>
<!-- 这个变量指向 该元素对应的DOM对象，你可以在模板中的其他地方调用其方法和属性： -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">用户详情</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover table-sm">

            <tbody>
            <tr>
                <td>姓名</td>
                <td>{{user.user_name}}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{user.sex}}</td>
            </tr>

            <tr>
                <td>一卡通号</td>
                <td>{{user.card}}</td>
            </tr>
            <tr>
                <td>电话</td>
                <td>{{user.phone}} <app-modification-user-tel (onDataSubmit)="modificateTel($event,user.id)" > </app-modification-user-tel></td>
            </tr>
            <!--<tr>-->
                <!--<td>修改电话</td>-->
                <!--<td><input type="text" class="form-control"></td>-->
            <!--</tr>-->
            <tr>
                <td>注册时间</td>
                <td>{{user.create_time}}</td>
            </tr>

            </tbody>
        </table>




    </div>
    <div class="modal-footer">

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">关闭</button>
            </div>
        </div>

    </div>
</ng-template>
