<button class="btn btn-success btn-sm"  (click)="open(content)">修改</button>
<!-- 这个变量指向 该元素对应的DOM对象，你可以在模板中的其他地方调用其方法和属性： -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">修改手机号码</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <table class="table table-bordered table-hover">

            <tbody>

            <tr>
                <td>手机</td>
                <td><input type="text" class="form-control" [(ngModel)]="tel"></td>
                <td><button class="btn btn-success btn-sm"  (click)="getCode()">获取验证码</button></td>
            </tr>
            <tr>
                <td>验证码</td>
                <td><input type="text" class="form-control" [(ngModel)]="code"></td>
            </tr>

            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">保存</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">关闭</button>
            </div>
        </div>

    </div>
</ng-template>
